

.calificacion-estrellas{
    transform: rotateY(180deg);
}

input{
    display:none;
}
.calificacion-estrellas label{
    display: inline-block;
    color: #aaa;
    font-size:25px;
    cursor: pointer;
    transition: all 0.3s;
}


label:not(:last:child){
    margin-right: 5px;
}


input:checked ~ label,
input:hover ~ label{
    color: gold;
}